h1 { color: blue ; font-family: 'Pacifico', cursive;
}

span {color: orange; }

body { background-color: #cfd9ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23d9f2ff' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");}

h2{ text-align: center; }
h3{ text-align: left; }

ol{ text-align: left; }


.drapeau{
	background: grey;
	height: 300px
	width: 600px
	}

.blue {
	background: blue;
	height: 200px
	width: 100px
	}

.white {
	background: white;
	height: 200px
	width: 100px
	}

	.red {
	background: red;
	height: 200px
	width: 100px
	}


	.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFE567;
}

.item {
  display: flex;
  justify-content: flex-end;
}

.item {
  margin: 10px 30px;
  color: #F68546;
}

.item:hover {
  color: #F65746;
}


.menu {
	display: flex;
}


h1 {text-align: center;}

.frameimg {
	border: 10px solid #F65746;
	margin: 30px;
 box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}


h3 {text-align: center;}

.my-map {
	display: flex;
	justify-content: center;
	width: 100%;
}



